<a href="https://colab.research.google.com/github/IrtiqaUrRehmanKhan/NED_PGD_DS_Assignment3-Python-List--Manipulation/blob/main/NED_PGD_DS_Assignment3_Python_List_Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Question 1:** Basic List Operations

In [ ]:
# a) Create a list named 'fruits'
fruits = ["apple", "banana", "orange", "grape", "kiwi"]

print(fruits)

['apple', 'banana', 'orange', 'grape', 'kiwi']

In [ ]:
# b) Add "pear" to the end of the list
fruits.append("pear")

print(fruits)

['apple', 'banana', 'orange', 'grape', 'kiwi', 'pear']

In [ ]:
# c) Insert "mango" at the second position in the list
fruits.insert(1, "mango")

print(fruits)

['apple', 'mango', 'banana', 'orange', 'grape', 'kiwi', 'pear']

In [ ]:
# d) Remove "orange" from the list
fruits.remove("orange")

print(fruits)

['apple', 'mango', 'banana', 'grape', 'kiwi', 'pear']

**Question 2:** Slicing and Indexing

In [ ]:
# a) Create a list named 'numbers' containing the integers from 0 to 9
numbers = list(range(10))

print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# b) Print the element at index 3
print("Element at index 3:", numbers[3])

Element at index 3: 3

In [ ]:
# c) Print a sublist containing the elements from index 2 to 6 (inclusive)
sublist = numbers[2:7]

print("Sublist from index 2 to 6:", sublist)

Sublist from index 2 to 6: [2, 3, 4, 5, 6]

In [ ]:
# d) Print the last three elements using negative indexing
last_three = numbers[-3:]

print("Last three elements:", last_three)

Last three elements: [7, 8, 9]

**Question 3:** List Comprehension

In [ ]:
# a) Create a list named 'squares' containing the squares of numbers from 1 to 10
squares = [x ** 2 for x in range(1, 11)]

print("Squares:", squares)

Squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# b) Create a new list named 'even_squares' containing the squares of even numbers from the 'squares' list
even_squares = [x for x in squares if x % 2 == 0]

print("Even Squares:", even_squares)

Even Squares: [4, 16, 36, 64, 100]

**Question 4:** List Manipulation

In [ ]:
# a) Create a list named 'colors'
colors = ["red", "green", "blue", "yellow", "purple"]

print(colors)

['red', 'green', 'blue', 'yellow', 'purple']

In [ ]:
# b) Swap the first and last elements of the list
colors[0], colors[-1] = colors[-1], colors[0]

print(colors)

['purple', 'green', 'blue', 'yellow', 'red']

In [ ]:
# c) Reverse the order of the list
colors.reverse()

print(colors)

['red', 'yellow', 'blue', 'green', 'purple']

In [ ]:
# d) Remove the second and third elements from the list
del colors[1:3]

print(colors)

['red', 'green', 'purple']

**Question 5:** Advanced Slicing

In [ ]:
# a) Create a list named 'letters' containing the letters from 'a' to 'j'
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

print("Letters:", letters)

Letters: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
# b) Using slicing, create a new list 'first_half' containing the first half of the 'letters' list
first_half = letters[:len(letters)//2]

print("First Half:", first_half)

First Half: ['a', 'b', 'c', 'd', 'e']

In [ ]:
# c) Using slicing, create a new list 'last_three' containing the last three elements of the 'letters' list
last_three = letters[-3:]

print("Last Three:", last_three)

Last Three: ['h', 'i', 'j']

**Question 6:** Nested Lists

In [ ]:
# a) Create a nested list named 'matrix'
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

for row in matrix:
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
# b) Print the element in the second row and third column
element = matrix[1][2]

print("Element in the second row and third column:", element)

Element in the second row and third column: 6

In [ ]:
# c) Use nested indexing to change the value at the second row and first column to 0
matrix[1][0] = 0

for row in matrix:
    print(row)

[1, 2, 3]
[0, 5, 6]
[7, 8, 9]